# Configuração do Bot Framework
APP_ID=
APP_PASSWORD=
APP_TYPE=SingleTenant
APP_TENANTID=your-tenant-id-here


# Configuração do Databricks


#SAMPLE_QUESTIONS=

# Email de Contato do Administrador
#ADMIN_CONTACT_EMAIL=

# Configuração da Aplicação
PORT=3978

# Configuração de Feedback
ENABLE_FEEDBACK_CARDS=True
ENABLE_GENIE_FEEDBACK_API=True
